lxml
pymysql
selenium
numpy
sqlalchemy
pandas
dart_fss
PyQt5
cryptography

matplotlib
sklearn
#tensorflow==2.3.0
keras==2.4.3
sklearn


coloredlog
#mkl-service
holidays
finance-datareader
pykiwoom
pypiwin32
D:\Utils\python\TA_Lib-0.4.19-cp39-cp39-win_amd64.whl