lxml
PyQt5
pymysql
selenium
numpy
dart_fss
sqlalchemy
pandas
cryptography
mplfinance
finance-datareader
coloredlog
holidays
finance-datareader
pykiwoom
pypiwin32
matplotlib
webdriver-manager
D:\Utils\python\TA_Lib-0.4.19-cp39-cp39-win32.whl